page-edit-lost-pet {
    .btnSave {
        margin: 15px 0 0;
    }

    .profileBlock {
        margin-top: 20px;
        text-align: center;
        position: relative;
    }
    
    .profileBlock .camera {
        position: absolute;
        color: #fff;
        width: 24px;
        left: 0;
        right: 0;
        margin: auto;
        top: 87px;
        font-size: 26px;
    }
    
    .profileBlock img {
        border-radius: 50%;
        border: 1px solid #eee;
    }
}
