page-profile {
    .profileBlock {
        margin-top: 20px;
        text-align: center;
        position: relative;
    }
    
    .profileBlock .camera {
        position: absolute;
        color: #fff;
        width: 24px;
        left: 0;
        right: 0;
        margin: auto;
        top: 89px;
        font-size: 26px;
    }
    
    .profileBlock img {
        border-radius: 50%;
    }
    
    .profileBlock h3 {
        color: #333;
        font-size: 18px;
        margin-bottom: 25px;
    }

    .editBtn {
        position: absolute;
        bottom: 30px;
        right: 20px;
    }   
}
