page-admin-view-profile {
    .toolbar-background {
        background: #4CAF50 !important;
    }

    .profileBlock {
        margin-top: 20px;
        text-align: center;
        position: relative;
    }

    .profileBlock img {
        border-radius: 50%;
    }
}
