page-add-lost-pet-form {
    .btnSave {
        margin: 15px 0 0;
    }

    .profileBlock {
        margin-top: 20px;
        text-align: center;
        position: relative;
    }
    
    .profileBlock .camera {
        position: absolute;
        color: #fff;
        width: 24px;
        left: 0;
        right: 0;
        margin: auto;
        top: 87px;
        font-size: 26px;
    }
    
    .profileBlock img {
        border-radius: 50%;
        border: 1px solid #eee;
    }
}

.predictUl li {
    list-style: none;
}
.predictUl {
    margin: 0;
    padding: 0;
}

.predictUl .name {
    float: left;
}

.predictUl .value {
    float: right;
}

.predictUl li {
    clear: both;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.alert-md .alert-head {
    padding: 15px 15px 0 !important;
}

.alert-md .alert-sub-title {
    font-size: 13px;
}

.alert-md .alert-sub-title .title01 {
    float: left;
    font-weight: bold;
    margin-top: 10px;
}

.alert-md .alert-sub-title .title02 {
    float: right;
    font-weight: bold;
    margin-top: 10px;
}
