<ion-header>
  <ion-navbar>
    <ion-title>Purrs &amp; Paws Admin Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-spinner name="crescent" class="pageLoader" *ngIf="pageLoaded == false"></ion-spinner>
  <div *ngIf="pageLoaded">
      <div class="box green" (click)="pushPage('AdminRegisteredUserPage')">
        <div class="iconBlock">
          <ion-icon name="people"></ion-icon>
        </div>
        <div class="titleBlock">
          <p class="count">{{userCount}}</p>
          <h3>Registered Users</h3>
        </div>
        <ion-icon name="arrow-forward" class="arrow"></ion-icon>
      </div>
    
      <div class="box blue" (click)="pushPage('AdminBuyAndSellPage')">
        <div class="iconBlock">
          <ion-icon name="pricetag"></ion-icon>
        </div>
        <div class="titleBlock">
          <p class="count">{{buySellPetCount}}</p>
          <h3>Buy &amp; Sell Pets</h3>
        </div>
        <ion-icon name="arrow-forward" class="arrow"></ion-icon>
      </div>
    
      <div class="box pink" (click)="pushPage('AdminLostPetsPage')">
        <div class="iconBlock">
          <ion-icon name="paw"></ion-icon>
        </div>
        <div class="titleBlock">
          <p class="count">{{lostPetsCount}}</p>
          <h3>Lost Pets</h3>
        </div>
        <ion-icon name="arrow-forward" class="arrow"></ion-icon>
      </div>

      <div class="box cyan" (click)="pushPage('VaccinationSchedulePage')">
        <div class="iconBlock">
          <ion-icon name="calendar"></ion-icon>
        </div>
        <div class="titleBlock">
          <p class="count">{{vaccineSchedCount}}</p>
          <h3>Vaccination Schedule</h3>
        </div>
        <ion-icon name="arrow-forward" class="arrow"></ion-icon>
      </div>

      <div class="box indigo" (click)="pushPage('AdminGroomPetPage')">
        <div class="iconBlock">
          <ion-icon name="shirt"></ion-icon>
        </div>
        <div class="titleBlock">
          <p class="count">{{groomPetCount}}</p>
          <h3>Groom Pet Videos</h3>
        </div>
        <ion-icon name="arrow-forward" class="arrow"></ion-icon>
      </div>
      <div class="box amber" (click)="pushPage('AdminTrainPetPage')">
        <div class="iconBlock">
          <ion-icon name="help-buoy"></ion-icon>
        </div>
        <div class="titleBlock">
          <p class="count">{{trainPetCount}}</p>
          <h3>Train Pet Videos</h3>
        </div>
        <ion-icon name="arrow-forward" class="arrow"></ion-icon>
      </div>

      <!-- <ion-fab bottom right>
        <button ion-fab (click)="logout()" class="logout"><ion-icon name="log-out"></ion-icon></button>
      </ion-fab> -->

      <page-chat-notif-fab></page-chat-notif-fab>

      <ion-fab bottom right edge>
        <button ion-fab>
          <ion-icon name="arrow-dropleft"></ion-icon>
        </button>
        <ion-fab-list side="left">
          <button ion-fab (click)="logout()" color="danger">
            <ion-icon name="log-out"></ion-icon>
          </button>
          <button ion-fab (click)="switchRole()" color="secondary">
            <ion-icon name="switch"></ion-icon>
          </button>
        </ion-fab-list>
      </ion-fab>
  </div>
</ion-content>
